@page
@using PlantPlacesSpecimens
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var brand = ViewData["Brand"];
    var message = ViewData["Message"];
    List<Specimen> specimens = (List<Specimen>)ViewData["Specimens"];
}

<div class="text-center">
    <h1 class="display-4">Welcome to @brand</h1>
    <p>catalog your plants, where they are, when they have been watered and fertilized.</p>
    <p>We're glad you're here!</p>
    <em>@message</em>
    <table>
        <tr>
            <th>Plant ID</th>
            <th>Specimen ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Address</th>
        </tr>
        @{
            foreach(Specimen specimen in specimens)
            {
                <tr>
                    <td>@specimen.PlantId</td>
                    <td>@specimen.SpecimenId</td>
                    <td>@specimen.Lat</td>
                    <td>@specimen.Lng</td>
                    <td>@specimen.Address</td>
                </tr>
            }

        }
    </table>

</div>
